.button-styled {
    -fx-background-color: linear-gradient(#0499ff, #1358d7);
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 11pt;
    -fx-text-fill: white;
}
.button-highlighted {
    -fx-background-color: linear-gradient(#0499ff, #1358d7);
    -fx-text-fill: white;
}
.button-styled:hover {
    -fx-background-color: #0053d7;
}
.button-highlighted:hover {
    -fx-background-color: #0053d7;
}

.big-title {
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 22pt;
    -fx-text-fill: black;
}

.title {
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 16pt;
    -fx-text-fill: black;
}

.content {
    -fx-font-size: 11pt;
    -fx-text-fill: black;
}